<!DOCTYPE html>
<html>
	<head>
		<title>Users Administration</title>
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}" />
		<script type="text/javascript" src="{{ url_for("static", filename="jquery/dist/jquery.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="knockout/dist/knockout.js") }}"></script>
	</head>
	<body class="container" style="width: 500px">
		<header class="page-header">
			<h1>User Administration</h1>
		</header>

		<table class="table table-compress">
			<thead>
				<tr><th colspan="2">Username</th></tr>
			</thead>
			<tbody data-bind="visible: users().length > 0, foreach: users">
				<tr>
					<td data-bind="text: $data"><!-- Username --></td>
					<td><span data-bind="click: $parent.remove" class="glyphicon glyphicon-remove text-danger"></span></td>
				</tr>
			</tbody>
			<tbody data-bind="visible: users().length == 0">
				<tr><td colspan="2">No users yet!</td></tr>
			</tbody>
		</table>

		<fieldset>
			<legend>Create new user</legend>

			<div data-bind="if: lastMessage">
				<div class="alert alert-info">
					User <strong data-bind="text: lastMessage()	.username">username</strong> created with password <strong data-bind="text: lastMessage().password">password</strong>
				</div>
			</div>

			<div class="form-group">
				<input data-bind="value: newUsername" class="form-control" placeholder="Username" />
			</div>
			<div class="form-group">
				<button data-bind="click: create" class="btn btn-primary">Create new user</button>
			</div>
		</fieldset>

		<script type="text/javascript">
			var ViewModel = function() {
				this.users = ko.observableArray();
				this.newUsername = ko.observable();
				this.lastMessage = ko.observable();

				this.loadUsers = function() {
					$.get("{{ url_for('api_users_list') }}").done( this.users );
				};

				this.remove = (function(item) {
					var self = this;
					var url = "{{ url_for('api_users_list') }}/" + item;
					$.ajax(url, { type: "DELETE" }).done( function() {
						self.users.remove(item)
					});
				}).bind(this);

				this.create = (function() {
					if(!this.newUsername()) return;

					var self = this;
					var url = "{{ url_for('api_users_list') }}/" + this.newUsername();
					$.ajax(url, { type: "POST" }).done( function(data) {
						self.lastMessage({
							type: "info",
							username: data.username,
							password: data.password
						});

						self.newUsername("");
						self.users.push(data.username)
					});

				}).bind(this);

				this.loadUsers();
			};

			ko.applyBindings(new ViewModel());
		</script>
	</body>
</html>