<!DOCTYPE html>
<html>
	<head><title>Change user credentials</title></head>
	<body>
		<h1>Change user credentials</h1>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		<form method="post" action="{{ url_for('change_credential') }}">
			<input type="username" name="username" placeholder="Username" value="{{ request.form['username'] }}" />
			<input type="oldpassword" name="oldpassword" placeholder="Current password" />
			<input type="newpassword" name="newpassword" placeholder="New password" />

			<button>Change</button>
		</form>
	</body>
</html>