<!DOCTYPE html>
<html>
	<head>
		<title>Change user credentials</title>
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}" />
		<script type="text/javascript" src="{{ url_for("static", filename="jquery/dist/jquery.min.js") }}"></script>
	</head>
	<body class="container" style="width: 500px">
		<header class="page-header">
			<h1>Change user credentials</h1>
		</header>

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						<span>{{ message }}</span>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<form method="post" action="{{ url_for('change_credential') }}">
			<div class="form-group">
				<label for="username">Username</label>
				<input id="username" class="form-control" type="username" name="username" placeholder="Username" value="{{ request.form['username'] }}" />
			</div>

			<div class="form-group">
				<label for="oldpassword">Current password</label>
				<input id="oldpassword" class="form-control" type="oldpassword" name="oldpassword" placeholder="Current password" />
			</div>

			<div class="form-group">
				<label for="newpassword">New password</label>
				<input id="newpassword" class="form-control" type="newpassword" name="newpassword" placeholder="New password" />
			</div>

			<button class="btn btn-primary btn-block">Change</button>
		</form>
	</body>
</html>